.hero-section {
    background-color: #e5e1da;
    border-radius: 15px;
    padding: 40px 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    flex: 1;
    padding-right: 20px;
}

.paragraph {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.heading-xl {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .hero-text,
    .hero-image {
        flex: none;
        width: 100%;
        padding: 0;
    }

    .hero-image img {
        max-width: 100%;
    }
}

.section-our-team {
    background-color: #eee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.title-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    font-size: 40px;
}

.team-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.member {
    flex: 1 1 250px;
    max-width: 300px;
    text-align: center;
    padding: 20px 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.member img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin: 15px 0 10px;
}

.member p {
    font-size: 15px;
    color: #838383;
    line-height: 1.6;
}
