.nav-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    height: 80px;
    border-radius: 15px 15px 15px 15px;
    padding: 0 25px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 60px;
}

.nav-tabs {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    list-style: none;
}

.nav-tab:not(:last-child) {
    padding: 10px 25px;
    margin: 0;
}

.nav-tab:last-child {
    padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
    cursor: pointer;
}

.hidden {
    display: none;
}

@media screen and (max-width: 800px) {
    .nav-container {
        position: fixed;
        display: none;
        overflow-y: auto;
        z-index: -1;
        top: 0;
        right: 0;
        width: 280px;
        height: 100%;
        background: #fff;
        box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
    }

    .nav-tabs {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 80px;
        width: 100%;
    }

    .nav-tab:not(:last-child) {
        padding: 20px 25px;
        margin: 0;
        border-right: unset;
        border-bottom: 1px solid #f5f5f5;
    }

    .nav-tab:last-child {
        padding: 15px 25px;
    }

    .menu-btn {
        position: relative;
        display: block;
        margin: 0;
        width: 20px;
        height: 15px;
        cursor: pointer;
        z-index: 2;
        padding: 10px;
        border-radius: 10px;
    }

    .menu-btn .menu {
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: #111;
    }

    .menu-btn .menu:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
    }

    .menu-btn .menu:nth-child(3) {
        margin-top: 4px;
    }

    #menuToggle:checked+.menu-btn .menu {
        transition: transform 0.2s ease;
    }

    #menuToggle:checked+.menu-btn .menu:nth-child(1) {
        transform: translate3d(0, 6px, 0) rotate(45deg);
    }

    #menuToggle:checked+.menu-btn .menu:nth-child(2) {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
    }

    #menuToggle:checked+.menu-btn .menu:nth-child(3) {
        transform: translate3d(0, -6px, 0) rotate(-45deg);
    }

    #menuToggle:checked~.nav-container {
        z-index: 1;
        display: flex;
        animation: menu-slide-left 0.3s ease;
    }

    @keyframes menu-slide-left {
        0% {
            transform: translateX(200px);
        }

        to {
            transform: translateX(0);
        }
    }
}

.footer {
    background-color: #592C2C;
    width: 100%;
    text-align: left;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}

.footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .icons {
    margin-top: 25px;
}

.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-center {
    width: 30%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
}

.footer .footer-right {
    width: 35%;
}

.footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.footer h2 span {
    color: #0099ff;
}

.footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer .menu a:hover {
    color: #0099ff;
}

.footer .name {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

@media (max-width: 767px) {
    .footer {
        font-size: 14px;
    }

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer .footer-center i {
        margin-left: 0;
    }
}

.hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e1da;
    border-radius: 15px;
    padding: 40px 20px;
}

.hero-text {
    max-width: 50%;
}

.hero-image img {
    max-width: 100%;
    border-radius: 15px;
}

.image-responsive {
    max-width: 100%;
    height: auto;
}

.paragraph {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.heading-xl {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-text,
    .hero-image {
        max-width: 100%;
    }
}